*{
	background-color: yellow;
}
#t1{
	font-size: 20px;
	padding: 40px
	border 2px solid black;
	border-style: dotted;
	border-color: blue
box-shadow: 8px 8px 8px blue;
text-shadow: 4px 4px 4px blue;
background-color: blue;
}
div{

background-color: silver;
width:33.33%;
padding:20px;
}
.box1{
	background-color: red;
	float: right;
}
#t2{
	font-size: 20px;
	padding: 40px
	border 2px solid black;
	border-style: dotted;
	border-color: blue
box-shadow: 8px 8px 8px blue;
text-shadow: 4px 4px 4px blue;
background-color: blue;
}
div{

background-color: silver;
width:31.33%;
padding:20px;
}
.box2{
	background-color: green;
}
#t3{
	font-size: 20px;
	padding: 40px
	border 2px solid black;
	border-style: dotted;
	border-color: blue
box-shadow: 8px 8px 8px blue;
text-shadow: 4px 4px 4px blue;
background-color: blue;
}
div{

background-color: silver;
width:31.33%;
padding:20px;
}
.box3{
	background-color: orange;
	float: right;
}
#t4{
	font-size: 20px;
	padding: 40px
	border 2px solid black;
	border-style: dotted;
	border-color: blue
box-shadow: 8px 8px 8px blue;
text-shadow: 4px 4px 4px blue;
background-color: blue;
}
div{

background-color: silver;
width:31.33%;
padding:20px;
}
.box4{
	background-color: blue;

}
#t5{
	font-size: 20px;
	padding: 40px
	border 2px solid black;
	border-style: dotted;
	border-color: blue
box-shadow: 8px 8px 8px blue;
text-shadow: 4px 4px 4px blue;
background-color: blue;
}
div{
background-color: silver;
width:31.33%;
padding:20px;
}
.box5{
	background-color: violet;

}
#t6{
	font-size: 20px;
	padding: 40px
	border 2px solid black;
	border-style: dotted;
	border-color: blue
box-shadow: 8px 8px 8px blue;
text-shadow: 4px 4px 4px blue;
background-color: blue;
}
div{

background-color: silver;
width:31.33%;
padding:20px;
}
.box6{
	background-color: red;
}
#t7{
	font-size: 20px;
	padding: 40px
	border 2px solid black;
	border-style: dotted;
	border-color: blue
box-shadow: 8px 8px 8px blue;
text-shadow: 4px 4px 4px blue;
background-color: blue;
}
#t8{
	font-size: 20px;
	padding: 40px
	border 2px solid black;
	border-style: dotted;
	border-color: blue
box-shadow: 8px 8px 8px blue;
text-shadow: 4px 4px 4px blue;
background-color: blue;
}
div{
background-color: silver;
width:31.33%;
padding:20px;
}
.box8{
	background-color: red;
float: right;
}
#t9{
	font-size: 20px;
	padding: 40px
	border 2px solid black;
	border-style: dotted;
	border-color: green;
box-shadow: 8px 8px 8px blue;
text-shadow: 4px 4px 4px blue;
background-color: blue;
}
div{
background-color: green;
width:31.33%;
padding:20px;
}
.box9{
	background-color: green;
	float: right;
}

#t10{
	font-size: 20px;
	padding: 40px
	border 2px solid black;
	border-style: dotted;
	border-color: green;
box-shadow: 8px 8px 8px blue;
text-shadow: 4px 4px 4px blue;
background-color: blue;
}
div{
background-color: green;
width:36,33%;
padding:20px;
}
.box10{
	background-color: green;
	float: left;
}
#t11{
	font-size: 20px;
	padding: 40px
	border 2px solid black;
	border-style: dotted;
	border-color: blue
box-shadow: 8px 8px 8px blue;
text-shadow: 4px 4px 4px blue;
background-color: blue;
}
div{

background-color: silver;
width:33.33%;
padding:20px;
}
.box11{
	background-color: green;
	float: right;
}